/* .grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 50px 1fr; 
  gap: 20px; 
}

.grid div{
  background-color: #55747e;
  color: white;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}


.grid div:nth-child(1)::before{
  content: " Elment1";
   font-size: 18px;
   font-family: Arial, sans-serif;
}

.grid div:nth-child(2)::before{
  content: " Elment2";
   font-size: 18px;
   font-family: Arial, sans-serif;
}

.grid div:nth-child(3)::before{
  content: " Elment3";
   font-size: 18px;
   font-family: Arial, sans-serif;
}

.grid div:nth-child(4)::before{
  content: " Elment4";
   font-size: 18px;
   font-family: Arial, sans-serif;
}

.grid div:nth-child(5)::before{
  content: " Elment5";
   font-size: 18px;
   font-family: Arial, sans-serif;
}

.grid div:nth-child(6)::before{
  content: " Elment6";
   font-size: 18px;
   font-family: Arial, sans-serif;
}





body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  background-color: #f5f5f5; 
} */




/* body{
  padding: 0;
  margin: 0;

}
  

.layout{
  background-color: rgb(208, 203, 196);
  height: 100vh;
  width: 100vw;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 50px auto 50px;
grid-template-areas:
  "header header header header "
  "section section  section aside"
  "footer footer footer  footer";
}


header{
  grid-area: header;
   background-color: rgb(0, 255, 251);
  color: white;
}

section{
  grid-area: section;
  background-color: orangered;
  color: white;
}

aside{
  grid-area: aside;
  background-color: rgb(83, 82, 106);
  color: white;
}

footer{
  grid-area: footer;
  background-color: rgb(43, 243, 189);
  color: white;
}

.layout header::before{
  grid-area: header;
  content: "Header";
  font-weight: bold;
  font-size: 20px;

}

.layout section::before{
  grid-area: section;
  content: "section";
  font-weight: bold;
  font-size: 20px;

}

.layout aside::before{
  grid-area: aside;
  content: "Aside";
  font-weight: bold;
  font-size: 20px;

}

.layout footer::before{
  grid-area: footer;
  content: "footer";
  font-weight: bold;
  font-size: 20px;
} */




/* 

grid-template-columns: repeat(10, 1fr);
grid-template-rows: 50px auto 50px;
grid-template-areas:
  "header header header header header header header header header header"
  "section section section section section section section . aside aside"
  "footer footer footer footer footer footer footer footer footer footer";
*/






body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 138px;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8 , 1fr); 
  grid-template-rows: auto auto auto;           
  gap: 10px;
}

.grid div:nth-child(1) {
  width: 11px;
  height: 343px;
  position: relative;
  right: -59px;
}

.grid div:nth-child(2) {

  width: 300px;
  height: 342px;
  position: relative;
  right: -63px;
}

.grid div:nth-child(3) {
  width: 298px;
  height: 342px;
  position: relative;
  right: -93px;
  bottom: -1px;

}

.grid div:nth-child(4) {
  width: 11px;
  height: 340px;
  position: relative;
  left: 101px;
  bottom: -2px;
}

.grid div:nth-child(5) {
  width: 15px;
  height: 26px;
  position: relative;
  bottom: -356px;
  right: 604px;
}

.grid div:nth-child(6) {
  width: 301px;
  height: 27px;
  position: relative;
  bottom: -355px;
  right: 601px;
}

.grid div:nth-child(7) {
  width: 301px;
  height: 27px;
  position: relative;
  bottom: -355px;
  right: 574px;
}

.grid div:nth-child(8) {
  width: 15px;
    height: 27px;
    position: relative;
    left: -568px;
    bottom: -354px;
}

.grid div {
  background-color: rgb(59, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
